* {box-sizing:border-box}
* {font-family: 'Courier New', Courier, monospace;}
* body{
  background-color: #8082ff;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 20px;
}

.grid-item {
    background-color: #db349b;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
}
h1,h2,h3,h4,h5,h6{
    text-align: center;
}
